<!doctype html>
<html lang="en">
<%- include('layouts/header_new'); -%>  
<body>    
            
    <!-- Header section-->
    <div class="container-fluid bg-primary text-white">
        <h1 class="py-3 text-center">Film Blog</h1>
        <p class="py-3 text-center">A different kind of film blog</p>
    </div> 
      
    <!-- Footer-->
    <%- include('layouts/footer_new'); -%>
    <%- include('layouts/scripts_new'); -%>
</body>
</html>